body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.commentList {
  width: 40%;
  margin: 0 auto;
}

.tweet {
    display: inline-block;
    border: black dotted 1px;
    padding: 1%;
    margin: 1%;
}

.tweet img {
    float: left;
}

.tweet.textDiv{
    float: left;
    width: 85%;
    margin-left: 1%;
}

h3.tweetAuthor {
    font-size: 1.13em;
}